{
  "extends": ["airbnb-base", "eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-undef": "off",
    "no-unused-vars": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "max-len": "off",
    "indent": "off",
    "brace-style": ["error", "stroustrup"],
    "no-bitwise": "off",
    "no-console": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "max-classes-per-file": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
